.list-group-item-text, .event-list p{
        font-family: 'Arial', sans-serif !important; 
        }
        
.iit-main .iit-next-event .iit-next-event-calendar .day {
     font-weight: normal;
}

.iit-next-event-calendar-container{
    background-color: #0077b3;
    width: 16.66666667%;
}


.iit-main .iit-next-event .iit-next-event-calendar {
   /* background-color: #0077b3;*/
   padding-top: 24%;
   padding-bottom: 24%;

}
