.list-group-item-text, .event-list p{
        font-family: 'Arial', sans-serif !important; 
        }


.iit-next-event-calendar-container{
    /*width: 16.66666667%;*/
	margin-right: 20px;
}


.iit-main .iit-next-event .iit-next-event-calendar {
    text-align: center;
    padding-top: 13%;
    /*height: 80px;
    width: 80px;*/
    height: 60px;
    width: 60px;
    background-color: #0077b3;
    margin-top: 2px;
}

        
.iit-main .iit-next-event .iit-next-event-calendar .day {
    font-size: 34px;
    font-weight: bold;
    line-height: 32px;
}

.iit-main .iit-next-event .iit-next-event-calendar .month {
    color: #fff;
    font-size: 12px;
}

.list-group-item-heading{
    font-size: 16px;
    font-weight: bold;
    color: #494b52 !important;
    
    word-wrap: break-word;
}

div.multiple {
padding-top: 7px !important;    
}

.multiple span{
    font-size: 14px !important;
    color: #ffffff;
    font-weight: bold;
}

.multiple hr{
    margin: 3px;
    /*margin-bottom: 5px;*/
    border-color: #ffffff;
}