a.iit-next-event:hover{
color:#0077b3;
background-color: #e2e2e2;
}

.list-group-item-text{
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.iit-next-event .iit-title{
border:none;
}

.list-group-item-heading{
    font-size: 16px;
    font-weight: bold;
    color: #494b52 !important;
    word-wrap: break-word;
}

.iit-next-event-calendar {
    height: 60px;
    width: 60px;
    text-align: center;
    margin-top: 2px;
}


div.multiple {
padding-top: 7px !important;    
}

.multiple span{
    font-size: 14px !important;
    color: #ffffff;
    font-weight: bold;
}

.multiple hr{
    margin: 3px;
    /*margin-bottom: 5px;*/
    border-color: #ffffff;
}